:root {
  --yellow: #EBFD02;
  --purple: #FD02EB;
  --cyan: #02EBFD;
}

body, #app {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--cyan);
}

.container, .container__aditional {
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 300px;
  display: grid;
  grid-template-rows: 75% 25%;
  place-items: center;
}

.container {
  text-align: center;
  color: var(--purple);
  background-color: var(--yellow);
  border-radius: 5%;
}

.container__quote {
  text-align: left;
  
}

.container__footer {
  width: 100%;
  margin: .5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__footer--twitter {
  color: var(--cyan);
  font-size: 2em;
}

.container__footer--button {
  color: inherit;
  background-color: var(--cyan);
  border: none;
  border-radius: .5em;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px 2px;
}

.container__footer--button:hover {
  cursor: pointer;
}

.container__footer--twitter:active, .container__footer--button:active {
  transform: scale(1.1);
}

.container__quote {
  margin: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  background-color: var(--cyan);
}

.container__quote--text, .container__quote--author {
  margin: 1rem;
}

.container__quote--author {
  text-align: right;
}